*.pyc
__pycache__/
__pycache__/

# VENV
/partners/
/hierarchy/

# Migrations
/migrations/

# docs
/.docs/

# Order Bill's file
/order_bills/

# Pos bill path file
/pos_bill_path/

# Ignoreing Encryption key txt
/encryption_key.txt/
/key_gen.py/
/static/js/chat_js/cs_webrtc.txt/
