{% if role == 'Admin' %}
    {% include 'admin/admin_header.html' %}
{% elif role == 'Manager' %}
    {% include 'manager/manager_header.html' %}
{% elif role == 'Kitchen' %}
    {% include 'kitchen/kitchen_header.html' %}
{% endif %}

<body>
<div id="layoutSidenav_content">
    <main>
        <!-- Add Doctor Form Content Here -->
        <div class="sd-container" style="margin-top: 100px;">
            <h2 class="sd-form">Edit Cuisine</h2>
            <form method="post" href="url_for('cuisines.edit_cuisine',id=cuisine.id)" class="sd-form" enctype="multipart/form-data">
                <div class="sd-row">
                    <input name="name" type="text" value="{{ cuisine.name }}" required>
                </div>
                <div class="sd-row">
                    <input name="description" type="text" value="{{ cuisine.description }}" required>
                </div>
                <div class="sd-row">
                    <label for="image">Cuisine Image</label>
                    <input type="file" class="form-control-file" id="image" name="image">
                </div>
                <br>
                <div class="sd-buttons">
                    <button type="submit" class="sd-submit" style="background-color: #003366;">Update Cuisine</button>
                </div>
            </form>
        </div>
        <!-- End of Add Doctor Form Content -->
    </main>
</body>

{% include 'sd_footer.html' %}
