<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Dashboard - Admin</title>
        <!-- Add Bootstrap CSS link -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
        <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" />
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
        <style>
            
            /* Style for the green dot */
            .green-dot {
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: green;
                display: inline-block;
            }
        </style>
    </head>
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3" href="{{ url_for('admin_bp.admin_home') }}">FDA</a>
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
            
            <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                <!--<div class="input-group">
                    <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                    <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
                </div>-->
            </form> 
            <!-- Navbar-->
            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-1">
                <li class="nav-item dropdown">
                    <a class="nav-link" href="{{ url_for('notification.get_notifications') }}" type="button" ><i class="fa-solid fa-bell"></i>
                        {% if notification_check %}
                            <span class="notification-dot">{{ notification_check }}</span>
                        {% endif %}
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{{ url_for('user_bp.get_profile') }}">Profile<i class="fas fa-user-tie" style="margin-left:56% ;"></i></a></li>
                        <li><a class="dropdown-item" href="{{ url_for('user_bp.activity_logs') }}">View Logs<i class="fas fa-file-alt" style="margin-left:35% ;"></i></a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="{{ url_for('user_bp.logout') }}">Logout <i class="fa fa-sign-out" style="margin-left:49% ;"></i></a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <p class="text-center">
                                {% if encoded_image %}
                                <div class="profile-image-wrapper">
                                    <img src="data:image/jpeg;base64,{{ encoded_image }}" alt="Profile Image" class="profile-image">
                                </div>                                
                                {% endif %}
                            </p>  
                            <p class="text-center">
                                <b>{{ user_name }}</b><br>
                            </p>                            
                            
                                <!-- Admin Home Section -->
                                <a class="nav-link" href="{{ url_for('admin_bp.admin_home')}}">
                                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                    Dashboard
                                </a>

                                <!-- Dashboard Section -->
                                <a class="nav-link" href="{{ url_for('dashboard.admin_dashboard')}}">
                                    <div class="sb-nav-link-icon"><i class="fas fa-chart-bar"></i></div>
                                    Statistics
                                </a>

                                <!-- Manager Section -->
                                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseManager" aria-expanded="false" aria-controls="collapseManager">
                                    <div class="sb-nav-link-icon"><i class="fas fa-user-tie"></i></i></div>
                                    Manager
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="collapseManager" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <a class="nav-link" href="{{ url_for('manager.get_managers') }}">Manager List</a>
                                        <a class="nav-link" href="{{ url_for('manager.add_manager') }}">Add Manager</a>
                                    </nav>
                                </div>

                                <!-- Super Distributor Section -->
                                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseSuperDistributor" aria-expanded="false" aria-controls="collapseSuperDistributor">
                                    <div class="sb-nav-link-icon"><i class="fas fa-warehouse"></i></div>
                                    Super Distributor
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="collapseSuperDistributor" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <a class="nav-link" href="{{ url_for('super_distributor.all_super_distributor') }}"> Super Distributor List</a>
                                        <a class="nav-link" href="{{ url_for('super_distributor.add_super_distributor') }}">Add Super Distributor</a>
                                    </nav>
                                </div>

                                <!-- Distributor Section -->
                                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseDistributor" aria-expanded="false" aria-controls="collapseDistributor">
                                    <div class="sb-nav-link-icon"><i class="fas fa-truck-loading"></i></div>
                                    Distributor
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="collapseDistributor" aria-labelledby="headingThree" data-bs-parent="#sidenavAccordion">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <a class="nav-link" href="{{ url_for('distributor.all_distributor') }}">Distributor List</a>
                                        <a class="nav-link" href="{{ url_for('super_distributor.add_distributor') }}">Add Distributor</a>
                                    </nav>
                                </div>

                                <!-- Kitchens Section -->
                                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseKitchens" aria-expanded="false" aria-controls="collapseKitchens">
                                    <div class="sb-nav-link-icon"><i class="fas fa-utensils"></i></div>
                                    Kitchens
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="collapseKitchens" aria-labelledby="headingFour" data-bs-parent="#sidenavAccordion">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <a class="nav-link collapsed" href="{{ url_for('distributor.distrubutor_all_kitchens') }}">
                                            Kitchens List
                                        </a>
                                        <a class="nav-link collapsed" href="{{ url_for('kitchen.create_kitchen') }}">
                                            Add Kitchens
                                        </a>
                                    </nav>
                                </div>

                                <!-- Cuisine Section -->
                                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseCuisine" aria-expanded="false" aria-controls="collapseKitchens">
                                    <div class="sb-nav-link-icon"><i class="fas fa-pizza-slice"></i></div>
                                    Food & Dining
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="collapseCuisine" aria-labelledby="headingFour" data-bs-parent="#sidenavAccordion">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <a class="nav-link collapsed" href="{{ url_for('cuisine.add_cuisine') }}">
                                            Add Cuisine
                                        </a>
                                    </nav>
                                </div>
                                <a class="nav-link collapsed" href="{{ url_for('royalty.add_royalty') }}" aria-controls="collapseKitchens">
                                    <div class="sb-nav-link-icon"><i class="fas fa-hand-holding-usd"></i></div>
                                    Royalty Sharing
                                    <div class=""></i></div>
                                </a>
                                </div>
                                
                                <div class="sb-sidenav-footer">
                                    <div class="d-flex align-items-center">
                                        <i class="fa-solid fa-arrow-right-to-bracket mr-2"></i>
                                        <span class="small text-muted">Logged in as :</span>
                                    </div>
                                    <span class="font-weight-bold ml-4">{{ role }}</span>
                                </div>
                            </div>
                        </nav>
                    </div>