{% if role == 'Admin' %}
    {% include 'admin/admin_header.html' %}
{% elif role == 'Manager' %}
    {% include 'manager_header.html' %}
{% elif role == "SuperDistributor" %}
    {% include 'super_distributor/sd_header.html'%}
{% elif role == "Distributor" %}
    {% include 'distributor/d_header.html'%}
{% endif %}
<div id="layoutSidenav_content">
    <br>
    <main>
        <!-- Add Doctor Form Content Here -->
        <div class="sd-container">
            <h2 class="sd-form">Add Kitchen</h2>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <form action="{{ url_for('kitchen.create_kitchen') }}" method="post" class="sd-form">
                <div class="sd-row">
                    <input name="name" type="text" placeholder="Kitchen Name" required>
                    <!-- <input type="text" placeholder="Last name"> -->
                </div>
                <div class="sd-row">
                    <input name="email" type="email" placeholder="Email" required>
                    <input name="contact" type="text" placeholder="Mobile" required>
                </div>
                <div class="sd-row password-wrapper">
                    <input id="password" name="password" type="password" placeholder="Password" required>
                    <span class="eye-icon" onclick="togglePassword()">
                        <i id="eye-icon" class="fa fa-eye"></i>
                    </span>
                </div>
                <textarea name="address" class="sd-textarea" placeholder="Address"></textarea>
                <br>
                <div class="sd-row">
                    <input name="city" type="text" placeholder="City" required>
                    <input name="district" type="text" placeholder="District" required>
                </div>
                <div class="sd-row">
                    <input name="state" type="text" placeholder="State" required>
                    <input name="pin_code" type="text" placeholder="pin-code" required>
                </div>
                {% if role=='Distributor' %}
                <div class="sd-row">
                    
                    <input type="text"  placeholder="{{user_name}}" name="username" hidden>
                </div>
                {% else %}
                <div class="sd-row">
                    <label for="image" class="form-label">Profile Image (Optional)</label>
                    <input type="file" class="form-control-file" id="image" name="image">
                </div>
                <div class="sd-row">
                    <label for="distributor">Select Distributor:</label>
                    <select name="distributor" id="distributor" required>
                        <option value="" disabled selected>-- Select Distributor --</option>
                        {% for distributor in distributors %}
                            <option value="{{ distributor.id }}">{{ distributor.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                {% endif %}
                <div class="sd-buttons">
                    <button style="background-color: #003366;" type="submit" class="sd-submit">Submit</button>
                </div>
            </form>
        </div>
        <!-- End of Add Doctor Form Content -->
    </main>
<br>
{% include 'sd_footer.html' %}  