
{% include 'kitchen/kitchen_header.html' %}

<body>
<div id="layoutSidenav_content">
    <main>
        <!-- Add Doctor Form Content Here -->
        <div class="sd-container">
            <h2 class="sd-form">Edit Food Item</h2>
            <form method="post" href="url_for('food_item.edit_food_item',id=food_items.id)" class="sd-form" enctype="multipart/form-data">
                <div class="sd-row">
                    <input name="name" type="text" value="{{ food_items.item_name }}" required>
                </div>
                <div class="sd-row">
                    <input name="description" type="text" value="{{ food_items.description }}" required>
                </div>
                <div class="sd-row">
                    <input name="price" type="text" value="{{ food_items.price }}" required>
                </div>
                <div class="sd-row">
                    <label for="image">Food Image</label>
                    <input type="file" class="form-control-file" id="image" name="image">
                </div>
                <br>
                <div class="sd-buttons">
                    <button type="submit" class="sd-submit">Update food item</button>
                </div>
            </form>
        </div>
        <!-- End of Add Doctor Form Content -->
    </main>
</body>

{% include 'sd_footer.html' %}
