{% if role == 'Admin' %}
    {% include 'admin/admin_header.html' %}
{% elif role == 'Manager' %}
    {% include 'manager/manager_header.html' %}
{% elif role == 'SuperDistributor' %}
    {% include 'super_distributor/sd_header.html' %}
{% elif role == 'Distributor' %}
    {% include 'distributor/d_header.html' %}
{% else %}
    {% include 'kitchen/kitchen_header.html' %}
{% endif %}

<div id="layoutSidenav_content">
    <br>
    <main>
        <h1 class="text-center">NOTIFICATIONS</h1>
        <div class="container">
            <table class="table table-bordered" style="background-color: #f0f0f0;">
                <thead>
                    <tr>
                        <th scope="col" style="border-left: none; border-right: none;">Notification</th>
                        <th scope="col" style="border-left: none; border-right: none;">Status</th>
                        <th scope="col" style="border-left: none; border-right: none;">Time</th>
                        <th scope="col" style="border-left: none; border-right: none;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for notification in notifications %}
                        <tr {% if not notification.is_read %} style="background-color: rgb(228, 252, 252);" {% endif %}>
                            <td style="border-left: none; border-right: none; padding: 20px;">{{ notification.description }}</td>
                            <td style="border-left: none; border-right: none; padding: 20px;">
                                {% if notification.is_read %}
                                    <span class="badge bg-success">Read</span>
                                {% else %}
                                    <span class="badge bg-warning">Unread</span>
                                {% endif %}
                            </td>
                            <td style="border-left: none; border-right: none;">
                                {% if notification.created_at.date() == today %}
                                    {{ notification.created_at.strftime('%Y-%m-%d %H:%M:%S') }}
                                {% elif notification.created_at.date() == yesterday %}
                                    {{ notification.created_at.strftime('%Y-%m-%d %H:%M:%S') }}
                                {% else %}
                                    {{ notification.created_at.strftime('%Y-%m-%d %H:%M:%S') }}
                                {% endif %}
                            </td>
                            <td style="border-left: none; border-right: none;">
                                {% if not notification.is_read %}
                                    <a href="{{ url_for('notification.mark_as_read', id=notification.id) }}" class="btn btn-primary btn-sm">Mark as Read</a>
                                {% else %}
                                    <span class="text-muted">No action</span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
    {% include 'admin/admin_footer.html' %}
</div>
